.full {
    min-height: 90vh;
    max-height: 200vh;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    overflow-y: auto;

}

.top {
    min-height: 40vh;
    max-height: 100vh;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    overflow-y: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.bottom {
    min-height: 50vh;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    overflow-y: scroll;
}